.header{
    width:100%;
     margin-top:0;
     box-shadow: 5px 5px 15px;
}

#heading{
    font-size: 30px;
     font-weight: bold;
     color: navy;  

}

.heading2{
    font-size:20px; 
    color: black; 
}

body{
    background-size:cover; 
}

#objectnamelabel{
    font-size:20px;
    color:navy;
    margin-top:20px;  
}
input{
    width:100px; 
}

#start{
font-size: 20px;
}

canvas{
    border-color: navy;
    border-style: solid;
    border-width: 5px;
    
}